header {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
}

#logo,
#scritta-logo {
  display: inline-block;
  vertical-align: middle;
  font-family: Arial;
}

body {
  background-color: #f7f8f9;
  font-family:sans-serif;
}

#contenitore {
  padding: 50px 0px;
  margin: 10% 10%;
  width: 700px;
  height: 800px;
  background-color: white;
  border-radius: 10px;
}

.button {
  border-radius: 8px;
  padding: 8px;
  font-family: Arial;
}

.button-line {
  margin-left: 100px;
}

hr {
  width: 1000px;
  margin-top: 20px;
  margin-left: 0px;
  border: 2px solid #f7f8f9;
}

#b-first {
  background-color: #47acf2;
  color: white;
}

#b-second {
  background-color: white;
  color: lightgray;
  border-color: lightgray;
  border: 1px solid;
}

.check-list {
    margin-left: 100px;
    margin-top: 50px;
}

.title-check-list {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18pt;    
    font-weight: bold;
    }

.list {
padding: 5px;

}


.check-mark {
    color: #97D8CA;
    border: 1px solid #97D8CA;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    margin: 2%

}

.ballot {
    color: #EE7B76;
    border: 1px solid #EE7B76;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    margin: 2%

}

.type-editotial,
.type-mobile,
.type-q-goals,
.type-recruting,
.type-sales,
.type-website {
    font-size: 8pt;
    color: white;
    
    padding: 6px 10px 6px 10px;
    border-radius: 10px;
    margin: 2%
}

.type-q-goals{
background-color: #9B72E5;
}

.type-recruting{
background-color: #64C0A9;
}

.type-mobile{
background-color: #F29D34;
}

.type-website{
background-color: #D963A0;
}

.type-sales
{
background-color: #AFC81F;
}

.type-editotial
{
    background-color: #42AAEA;
}
